.titleContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
}

.article {
  padding-left: 2%;
}

.imgContainer {
  width: 100%;
  margin-top: 3rem;
}



.img {
  border-radius: 2%;
  width:50%;
}

.DynamicIconCloud {
  border-radius: 50%;
  margin-top: 5rem;
  width: 25%;
}

.title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
}

@media (max-width : 790px) {
  .titleContainer {
    flex-direction: column;
    justify-content: space-around;
  }

  .imgContainer {
    text-align: center;
  }

  .img {
    width:40%;
  }

  .DynamicIconCloud {
    margin-top: 2rem;
    width: 60%;
  }
  

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.8rem;
  }
}