.titleContainer {
  align-items: center;
  display: flex;
  height: 100%;
  margin-top: 2rem;
  width: 100%;
}

.article {
  margin-top: 3%;
  padding-left: 2%;
  /* width: 28%; */
}

.title {
  margin-bottom: 2rem;
  margin-top: 2rem;
  letter-spacing: 0.1rem;
}

@media (max-width : 790px) {
  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.8rem;
  }
}