.contatosContainer {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.titleContatos {
  margin-top: 2rem;
  width: 100%;
}

a {
  height: 80%;
  text-align: center;
}

.imgIcons {
  height: 80%;
}

@media (max-width : 790px) {

  a {
    align-items: end;
    justify-content: center;
    display: flex;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width: 25%;
  }
  .imgIcons {
    height: 50%;
  }

}