.footer {
  border-radius: 0.3rem;
  bottom: 0.5rem;
  display: flex;
  height: 80px;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  position: fixed;
  width: 98.1%;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.contactContainer,.logoContainer  {
  width: 30%;
}